{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/stilo_login.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block contenido %}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <h4 class="mt-1 mb-5 pb-1">PetShop</h4>
                  </div>

                  <form action="" method="post">
                    <p>Por favor, inicia sesión en tu cuenta</p>

                    {% csrf_token %}
                    {{ form | crispy  }}

                    <div class="text-center pt-1 mb-5 pb-1">
                      <input class="btn btn-primary btn-block fa-ing gradient-custom-2 mb-3" value="Registrase" type="submit">Iniciar sesion</input>
                      <a class="text-muted" href="{% url 'login' %}">¿Inicia sesion ahora?</a>
                    </div>


                  </form>

                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Somos más que una empresa</h4>
                  <p class="small mb-0">En nuestra fundación sin fines de lucro, promovemos el bienestar animal a través de la venta de productos y servicios. Trabajamos con refugios, dueños responsables y amantes de los animales. Ofrecemos alimentos, juguetes, accesorios y asesoramiento. Nuestros ingresos se destinan a programas de rescate y adopción. Únete a nuestra comunidad comprometida con los animales.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}
