{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 m-5">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                <table>
                    {{ form | crispy }}
                </table>
                <input type="submit" class="btn btn-success" value="Guardar">
            </form>


<br><br>

        </div>
    </div>
</div>

<h3>{{ msj }}</h3>
<br><br>

{% endblock %}
{% block js %}

{% if messages %} 
    {% for aux in messages %} 
    <script>
      Swal.fire({
      title: 'Confirmación',
      text: '{{ aux }}',
      icon: 'success',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'success'
    })
    </script>
    {% endfor %} 
    
{% endif %}

{% endblock %}