{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block contenido %}
{% for objeto in objetos %}
    <h1>{{ objeto.user.username }}</h1>
    <img src="{{ objeto.imagen.url }}" alt="Imagen">
    <p>¿Quiere ser suscriptor? {{ objeto.si_quiere_ser_suscripto }}</p>
    <p>Monto de suscripción: {{ objeto.monto_de_suscripcion }}</p>
    <p>Fecha de pago: {{ objeto.fecha_de_pago }}</p>
    <p>Fecha de inscripción: {{ objeto.fecha_de_inscripcion }}</p>
{% endfor %}

{% endblock %}

{% block js %}

{% endblock %}