{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block contenido %}

<h1>Carrito de compras</h1>
<ul>
    {% for producto in productos %}
    <li>
        {{ producto.nombre }} - ${{ producto.precio }}
    </li>
    {% endfor %}
</ul>
<p>Total: ${{ total }}</p>

{% endblock %}

{% block js %}

{% endblock %}