{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% load humanize %} 
{% block css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'core/css/estiloLOL.css' %}" type="text/css">


{% endblock %}

{% block contenido %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Todas las categorias</span>
                        </div>
                        <ul>
                            <li><a href="#">Collares</a></li>
                            <li><a href="#">Identificadores</a></li>
                            <li><a href="#">Correas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="¿Que necesitas?">
                                <button type="submit" class="site-btn" style="background-color: #295690;">Buscar</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+56 9 12345678</h5>
                                <span>Soporte 24/7</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg=" {% static 'core/img/hero/bannerperrogato.png'%}">
                        <div class="hero__text">
                            <span>ANIMALES FRESCOS</span>
                            <h2>ANIMALES <br />100% Organicos</h2>
                            <p>Recogida y entrega gratuitas disponibles</p>
                            <a href="#" class="primary-btn">COMPRAR AHORA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg=" {% static 'core/img/categories/collares.png'%}">
                            <h5><a href="#">Collares</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg=" {% static 'core/img/categories/correas.png'%}">
                            <h5><a href="#">Correas</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg=" {% static 'core/img/categories/identificacion.png'%}">
                            <h5><a href="#">Credenciales</a></h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*"><a href="{% url 'index' %}" class="filter-link">Todo</a></li>
                            <li class="active"><a href="{% url 'index' %}?tipo_id=3" class="filter-link">Identificacion</a></li>
                            <li class="active"><a href="{% url 'index' %}?tipo_id=2" class="filter-link">Collar</a></li>
                            <li class="active"><a href="{% url 'index' %}?tipo_id=1" class="filter-link">Correa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% for aux in listaProducto %}
                {% if aux.stock > 9 %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg">
                            {% if aux.imagen %}
                            <img src="{{ aux.imagen.url }}" alt="">
                            {% else %}
                            <img src="{% static 'core/img/featured/feature-1.jpg' %}" alt="">
                            {% endif %}
                            <ul class="featured__item__pic__hover">
                                {% if user.is_authenticated and user.username == 'admin' %}
                                <li><a href="{% url 'update-producto' aux.id %}"><i class="fa fa-arrows-rotate"></i></a></li>
                                <li><a href="{% url 'delete' aux.id %}" class="fa fa-trash fa-shake"></a></li>
                                <li>   
                                    <form action="{% url 'agregar_carrito' aux.id %}" method="POST">
                                        {% csrf_token %}
                                        <a href="{% url 'agregar_carrito' aux.id %}" class="fa fa-cart-shopping fa-shake"></a>
                                    </form>
                                </li>
                                {% else %}
                                <li><a href="{% url 'product-details' aux.id %}"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="{% url 'product-details' aux.id %}">{{ aux.nombre }}</a></h6>
                            <h5>${{ aux.precio  | intcomma  }}</h5>
                            <h5>Stock disponible: {{ aux.stock }}</h5>
                        </div>
                    </div>
                </div> 
                
                {% endif %}
                {% endfor %}
            </div>
            
        </div>
    </section>
    <!-- Featured Section End -->


    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for aux in random|slice:":3" %}
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src= "{{ aux.imagen.url }}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>{{ aux.nombre }}</h6>

                                            <span>${{ aux.precio | intcomma }}</span>

                                            <span>${{ aux.precio }}</span>
                                            <form action="{% url 'agregar_carrito' aux.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="submit" value="Agregar al carrito">
                                            </form>

                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% for aux in random|slice:":3" %}
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src= "{{ aux.imagen.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ aux.nombre }}</h6>
                                        <span>${{ aux.precio | intcomma  }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top Rated Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for aux in random|slice:":3" %}
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src= "{{ aux.imagen.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ aux.nombre }}</h6>
                                        <span>${{ aux.precio | intcomma  }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% for aux in random|slice:":3" %}
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src= "{{ aux.imagen.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ aux.nombre }}</h6>
                                        <span>${{ aux.precio | intcomma  }}</span>
                                    </div>
                                </a>
                                
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Review Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for aux in random|slice:":3" %}
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src= "{{ aux.imagen.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ aux.nombre }}</h6>
                                        <span>${{ aux.precio | intcomma  }}</span>
                                    </div>
                                </a>
                                {% endfor %}

                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% for aux in random|slice:":3" %}
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src= "{{ aux.imagen.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ aux.nombre }}</h6>
                                        <span>${{ aux.precio | intcomma  }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->
<hr>
    <!-- Blog Section Begin -->
    <section>
        <section class="breadcrumb-section set-bg" data-setbg="{% static 'core/img/nose1.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Sobre nosotros</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section>
        <hr>
    <section class="container">
        <p>En nuestra fundación, nos enorgullece dedicarnos a la venta de productos para animales sin fines de lucro. Nuestro principal objetivo es promover el bienestar y cuidado de los animales, brindando a sus dueños y amantes de las mascotas los productos y servicios necesarios para satisfacer sus necesidades.

            Nos apasiona trabajar en estrecha colaboración con organizaciones de rescate y refugios de animales, así como con dueños responsables y amantes de los animales, para asegurarnos de que todos los animales sean tratados con el amor y respeto que merecen.
            
            Nuestro catálogo de productos incluye una amplia variedad de alimentos, juguetes, accesorios, productos de higiene y cuidado, entre otros. Nos esforzamos por ofrecer productos de alta calidad que cumplan con los estándares más exigentes para garantizar la salud y el bienestar de las mascotas.
            
            Además de ofrecer productos para animales, también brindamos asesoramiento y orientación a nuestros clientes sobre el cuidado apropiado de sus mascotas. Estamos comprometidos en educar a la comunidad sobre la importancia de la adopción responsable, la esterilización y castración, así como la promoción de un ambiente seguro y amoroso para los animales.
            
            Lo más importante para nosotros es el amor y respeto por los animales. Cada compra realizada en nuestra fundación contribuye directamente a nuestra misión de ayudar a los animales necesitados. Todos los ingresos generados se reinvierten en programas de bienestar animal, rescate y adopción, y en proyectos para promover la conciencia y protección de los animales.
            
            Te invitamos a ser parte de nuestra comunidad comprometida con los animales. Juntos, podemos marcar la diferencia en la vida de las mascotas y crear un mundo mejor para ellos. ¡Gracias por apoyarnos en nuestra misión de amor y cuidado animal!</p>
    </section>
    <!-- Blog Section End -->
{% endblock %}
{% block js %}

{% endblock %}