{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/style_user-setting.css' %}" type="text/css">
{% endblock %}

{% block contenido %}


          <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %} 
              <table>
                  {{ form }}
              </table>
              <input type="submit" class="btn btn-success" value="Actualizar">
          </form>

        

  
{% endblock %}
{% block js %}

{% endblock %}